<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fc69a0dd-c964-420b-af56-e90c921a2a86" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fc69a0dd-c964-420b-af56-e90c921a2a86fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
